---
import Wrapper from './Wrapper.astro';
import HeaderNav from './HeaderNav.astro';

const { title, nav } = Astro.props;
---

<style>
  .Header {
    position: sticky;
    top: 0;
    z-index: 2;

    border-bottom: 1px solid var(--color-border-default);
    background-color: var(--color-bg-elevated);
  }

  .Header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-height);
  }

  .Header__title {
    font-weight: 600;
    color: var(--color-fg-emphasis);
    text-decoration: none;
  }
</style>

<header class="Header">
  <Wrapper padded className="Header__wrapper">
    <a href={Astro.site?.pathname || '/'} class="Header__title">{title}</a>
    <HeaderNav nav={nav} />
  </Wrapper>
</header>
