---
import Wrapper from './Wrapper.astro';
import AlgoliaSearch from './AlgoliaSearch.astro';
import HeaderNav from './HeaderNav.astro';

const { title, nav, search } = Astro.props;
---

<style>
  .Header {
    position: sticky;
    top: 0;
    z-index: 2;

    border-bottom: 1px solid var(--color-border-default);
    background-color: var(--color-bg-elevated);
  }

  .Header__wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-height);
  }

  .Header__title {
    margin-inline-end: var(--space-lg);
    font-weight: 600;
    color: var(--color-fg-emphasis);
    text-decoration: none;
  }

  .Header__search {
    margin-inline-start: auto;
  }
</style>

<header class="Header">
  <Wrapper padded className="Header__wrapper">
    <a href={Astro.site?.pathname || '/'} class="Header__title">{title}</a>
    
    {nav.items.length > 0 && (
      <div className="Header__nav">
        <HeaderNav nav={nav} />
      </div>
    )}

    {search && (
      <div class="Header__search">
        <AlgoliaSearch config={search} />
      </div>
    )}
  </Wrapper>
</header>
