---
import path from 'node:path';
import {
  getGitRelativePath,
  getGitLastUpdated,
} from '../../utils/git.js';

const { githubRepoUrl, branch } = Astro.props.options;

const relativePath = await getGitRelativePath(Astro.props.path);
const lastUpdated = await getGitLastUpdated(Astro.props.path);

const githubUrl = (op, pagePath) =>
  githubRepoUrl + '/' + path.join(op, branch, relativePath);
---

<style>
  .Meta a {
    color: var(--color-fg-muted);
    font-size: var(--font-size-sm);
    font-weight: 400;
    text-decoration-thickness: 1px;
  }
</style>

<div class="Meta">
  <a href={githubUrl('commits', relativePath)} noreferrer noopener
    >Last updated on {lastUpdated}.</a
  >
  <br />
  <a href={githubUrl('edit', relativePath)} noreferrer noopener
    >Edit this page on GitHub.</a
  >
</div>
