---
const { title } = Astro.props;
---

<style>
  .NavSection + .NavSection {
    margin-block-start: var(--space-lg);
  }

  .NavSection span {
    display: block;
  }
</style>

<li class="NavSection">
  <span class="section-heading">{title}</span>
  <ul>
    <slot />
  </ul>
</li>
