---
import Nav from '../page/Nav.astro';
import NavItem from '../page/NavItem.astro';
const { headings } = Astro.props;

const items = [];

for (const heading of headings) {
  const item = {
    title: heading.text,
    link: `#${heading.slug}`,
    children: [],
  };

  if (heading.depth === 2) {
    items.push(item);
  }

  if (heading.depth === 3) {
    items[items.length - 1].children.push(item);
  }
}
---

<style></style>

{items.length > 0 && (
  <div>
    <Fragment>
      <h2 id="toc-nav-heading" class="section-heading">
        On this page
      </h2>

      <Nav aria-labelledby="toc-nav-heading">
        {items.map((item) => (
          <NavItem {...item} showChildren={true} />
        ))}
      </Nav>
    </Fragment>
  </div>
)}
