---
import { Code } from 'astro/components';
import { getHighlighter } from 'shiki';

const { code, meta } = Astro.props;
const title = typeof meta === 'string' && meta.match(/title="(.*)"/i)[1];

let { lang } = Astro.props;

if (typeof lang !== 'string') {
  lang = undefined;
}

const theme = 'github-dark';
const highlighter = await getHighlighter({ theme });
---

<style>
  .Code {
    overflow: hidden;
    border-radius: var(--radius);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .Code__title {
    padding-block: var(--space-xxs);
    padding-inline: var(--space-sm);

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.85);
    text-align: center;
    font-size: var(--font-size-sm);
    font-weight: 500;
  }

  .Code > :global(pre) {
    padding-block: var(--space-xs);
    padding-inline: var(--space-sm);
  }

  .Code,
  .Code > :global(pre) {
    background-color: var(--color-bg-code) !important;
  }
</style>

<div class="Code">
  {title && <div class="Code__title">{title}</div>}
  <Code {code} {theme} {lang} />
</div>
