---
import path from 'node:path';
import Figure from './Figure.astro';
const { src, alt, caption } = Astro.props;
const basePath = Astro.site?.pathname || '';
---

<style>
  .Image__link {
    display: block;
  }
</style>

<Figure>
  <a
    class="Image__link"
    title="Expand image"
    href={path.join(basePath, src)}
    target="_blank"
  >
    <img src={path.join(basePath, src)} {alt} />
  </a>
  <Fragment slot="caption">{caption}</Fragment>
</Figure>
