---
import path from 'node:path';
import Icon from './Icon.astro';

let { link } = Astro.props;
const { title, text, page } = Astro.props;
const basePath = Astro.site?.pathname || '';
let pageObj = null;

if (link && link.startsWith('/')) {
  link = path.join(basePath, link);
}

if (page && (!link || !label)) {
  const allPages = await Astro.glob('/**/*.mdx');
  pageObj = allPages.find(
    (pageObj) => (pageObj.url || '/') === path.join(basePath, page)
  );
}
---

<style>
  .LinkCard {
    position: relative;

    display: block;
    padding-block: var(--space-sm);
    padding-inline: var(--space-sm);

    background-color: var(--color-bg-elevated);
    border: 1px solid var(--color-border-default);
    border-radius: var(--radius);
  }

  .LinkCard,
  .LinkCard__title {
    transition: 0.2s all ease-out;
  }

  .LinkCard:hover {
    border-color: var(--color-border-emphasis);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.05);
  }

  .LinkCard:hover .LinkCard__title {
    color: var(--color-fg-primary);
  }

  .LinkCard__title {
    text-decoration: none;
  }

  .LinkCard__icon {
    color: var(--color-fg-muted);
  }

  .LinkCard__text {
    color: var(--color-fg-muted);
  }

  .LinkCard__title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
</style>

<div class="LinkCard">
  <a href={link || pageObj?.url} class="LinkCard__title"
    >{title || pageObj?.frontmatter.title}</a
  >
  <Icon icon="chevron-right" className="LinkCard__icon" />

  {text && <div class="LinkCard__text">{text}</div>}
</div>
