---
import Spinner from './Spinner.astro';

const definition = Astro.props.content || Astro.slots.render();
const { straightEdges, highlightActive } = Astro.props;
---

<script>
  import mermaid from 'mermaid';
  import themeCSS from './mermaid-theme.css?raw';

  function makeStraightEdges(element) {
    // This is a very hacky workaround because Mermaid does not support straigh lines
    // as edges (see https://github.com/mermaid-js/mermaid/issues/2549).
    // After rendering, we simply remove all points except the start and end point
    // from the SVG path definitions rendered by Mermaid to get straight lines.
    const edges = element.querySelectorAll('.edgePaths path');

    for (const edge of edges) {
      const path = edge.getAttribute('d');
      const parts = path.match(/[MLC](?:\d+(?:\.\d+)?,\d+(?:\.\d+)?)/g);
      const newPath = parts[0] + parts[parts.length - 1];
      edge.setAttribute('d', newPath);
    }
  }

  function highlightLinkedNodes(element) {
    const root = element.querySelector('.root');
    const nodes = element.querySelectorAll('.nodes .node');
    const edges = element.querySelectorAll('.edgePaths path');

    const idToElement = new Map();
    const adjacentNodes = new Map();
    const adjacentEdges = new Map();

    for (const node of nodes) {
      const id = node.id.replace(/^flowchart-/, '').replace(/-\d+$/, '');
      idToElement.set(id, node);
      adjacentNodes.set(node, new Set());
      adjacentEdges.set(node, new Set());
    }

    for (const edge of edges) {
      const classNames = [...edge.classList];

      const startId = classNames
        .find((className) => className.startsWith('LS-'))
        .replace('LS-', '');

      const endId = classNames
        .find((className) => className.startsWith('LE-'))
        .replace('LE-', '');

      const startElement = idToElement.get(startId);
      const endElement = idToElement.get(endId);

      adjacentNodes.get(startElement).add(endElement);
      adjacentNodes.get(endElement).add(startElement);

      adjacentEdges.get(startElement).add(edge);
      adjacentEdges.get(endElement).add(edge);
    }

    const rootActive = 'active';
    const nodeActive = 'node-active';
    const edgeActive = 'link-active';

    for (const node of nodes) {
      node.addEventListener('mouseover', () => {
        node.classList.add(nodeActive);
        root.classList.add(rootActive);

        for (const adjacentNode of adjacentNodes.get(node)) {
          adjacentNode.classList.add(nodeActive);
        }

        for (const adjacentEdge of adjacentEdges.get(node)) {
          adjacentEdge.classList.add(edgeActive);
        }
      });

      node.addEventListener('mouseout', () => {
        node.classList.remove(nodeActive);
        root.classList.remove(rootActive);

        for (const adjacentNode of adjacentNodes.get(node)) {
          adjacentNode.classList.remove(nodeActive);
        }

        for (const adjacentEdge of adjacentEdges.get(node)) {
          adjacentEdge.classList.remove(edgeActive);
        }
      });
    }
  }

  mermaid.initialize({
    themeCSS,
    securityLevel: 'loose',
    fontFamily: 'var(--font-family)',
    startOnLoad: false,
  });

  mermaid.run({
    querySelector: '.Mermaid__graph',
    postRenderCallback: (id) => {
      const element = document.getElementById(id);
      const parent = element.parentNode;

      if (parent.dataset.straightEdges === 'true') {
        makeStraightEdges(element);
      }

      if (parent.dataset.highlightActive === 'true') {
        highlightLinkedNodes(element);
      }

      parent.dataset.rendered = 'true';
    },
  });
</script>

<style>
  .Mermaid {
    position: relative;
    padding: var(--space-sm);
    aspect-ratio: 16 / 9;

    background-color: var(--color-bg-elevated);
    border: 1px solid var(--color-border-default);
    border-radius: var(--radius);
  }

  @media screen and (prefers-color-scheme: dark) {
    .Mermaid {
      background-color: rgba(0, 0, 0, 0.15);
      border-color: rgba(255, 255, 255, 0.1);
    }
  }

  .Mermaid__graph:not([data-processed='true']) {
    display: none;
  }

  .Mermaid__graph[data-rendered='true'] + .Mermaid__spinner {
    display: none;
  }

  .Mermaid__graph {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .Mermaid__graph > :global(svg) {
    max-width: 100%;
    max-height: 100%;
  }

  .Mermaid__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<div class="Mermaid">
  <div
    class="Mermaid__graph"
    data-straight-edges={straightEdges ? 'true' : 'false'}
    data-highlight-active={highlightActive ? 'true' : 'false'}
    set:html={definition}
  />
  <Spinner class="Mermaid__spinner" />
</div>
