.node .label-container {
  fill: var(--color-bg-default);
  stroke: var(--color-border-default);
  transition: 0.1s all ease-out;
  transition-delay: 0.1s;
}

.node.clickable:hover .label-container {
  fill: var(--color-bg-subtle);
  stroke: var(--color-border-emphasis);
}

.node-primary .label-container {
  fill: var(--color-bg-primary);
  stroke: var(--color-border-primary);
}

.node .nodeLabel {
  color: var(--color-fg-muted);
  cursor: default;
  transition: 0.1s all ease-out;
  transition-delay: 0.1s;
}

.node-primary .nodeLabel {
  color: var(--color-fg-primary);
}

.node.clickable:hover .nodeLabel {
  color: var(--color-fg-default);
}

.edgeLabel {
  color: var(--color-fg-muted);
  background-color: var(--color-bg-elevated);
}

.flowchart-link {
  stroke-width: 1.5px;
  stroke: var(--color-fg-muted);
  transition: 0.1s all ease-out;
  transition-delay: 0.1s;
}

.marker {
  fill: var(--color-fg-muted);
  stroke: none;
}

.arrowMarkerPath {
  /* Workaround to change size of arrow heads as there is no Mermaid config option */
  transform: scale(0.75) translate(4px, 2px);
}

.dummy {
  display: none;
}

.active .node:not(.node-active) .label-container {
  opacity: 0.5;
}

.active .node:not(.node-active) .nodeLabel {
  opacity: 0.5;
}

.active .node.node-active .label-container {
  opacity: 1;
  fill: var(--color-bg-primary);
  stroke: var(--color-border-primary);
}

.active .flowchart-link:not(.link-active) {
  opacity: 0.25;
}

.cluster rect {
  fill: var(--color-bg-default);
  stroke: var(--color-border-default);
}

.cluster-label foreignObject {
  /* Super hacky workaround to place cluster labels above the cluster, not inside */
  transform: translateY(-30px);
}

.cluster-label span {
  color: var(--color-text);
}
